.list {
  margin: 24px 0 0;
  border-radius: 10px;
  width: 300px;
  padding: 0;
  list-style: none;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.friendItem:last-child {
  border-bottom: none;
}
